# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac stuff
.DS_Store

# SWAP Files
*.swp
*~

# RPM SOURCES
*.tgz
*.gz
*.zip
*.war

# RPMS
rpmbuild/BUILD
rpmbuild/BUILDROOT
rpmbuild/RPMS
rpmbuild/SRPMS
*.rpm
